_*
?.*
??.*
???.*
!mle.jl
!toc.tex
.DS_Store
.vscode
cache/*
J_A+A_363_1081
*.bbl
*.blg
*.log
*.out
*.toc
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.run.xml
*.bcf
*.dvi
!cache/cbd91b42935e96e00ac5688e67f8c2c2a2ba28dd
!cache/d7e95968b1ea7cf297eb9cc2203ddbfc8217a906
